/* Reset */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    background-color: #004aad;
    position: fixed;
    top: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar div {
    width: 50%;
    display: flex;
    align-items: center;
}
.left-side {
    margin-left: 5%;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.navbar img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid white;
}

.navbar h1 {
    color: white;
    margin-left: 2%;
    font-size: 1.5rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 15vh);
    width: 100%; 
    position: relative;
    top: 15vh;
    background-color: rgb(130, 201, 211);
    gap: 2rem; 
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; 
    max-width: 400px;
    padding: 2rem;
}

.first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 2rem;
    background: linear-gradient(145deg, #a0c4df, #5e8fb8);
    border-radius: 8px;
}

.first-block h1 {
    margin-block: 1rem;
    font-size: 1.8rem;
}

.first-block img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 1rem;
    object-fit: contain;
    border: 1px solid black;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.login input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.button {
    padding: 10px;
    background: linear-gradient(145deg, #1c6aa8, #0a558c);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background 0.3s ease;
}

.button:hover {
    background: linear-gradient(145deg, #0a558c, #1c6aa8);
}

.first-block p {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.lost-found-theme {
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.lost-found-theme img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
}
